




<% content_for :title, "New movie" %>

<h1 class="text-center mt-5">New movie</h1>
<div class="form-center">
<%= render "form", movie: @movie, class:"centering_form"%>





</div>
<div class="d-flex justify-content-center mt-2">
  <%= link_to "Back", movies_path, class:"back-btn click btn btn-outline-danger" %>
</div>
